*{
	box-sizing: border-box;
}

@font-face {
  font-family: jaeliyah;
  src: url(https://od.lk/s/ODNfMTA2NTA1MDUzXw/Jaeliyah.ttf);
}

body{
	background: #dae3f6;
 	font-family: 'jaeliyah', cursive;
	color:#363636;
}

.main{
	position: absolute;
	width: 100%;
}

h1{
	position: absolute;
	left: 150px;
	font-size: 50px;
	letter-spacing: 5px;
	text-shadow: 3px 3px 1px 
#bbc0c1;
}

.alert{
	position: relative;
	top: 250px;
	left:270px;
	width:130px;
	height: 60px;
	z-index: 1;
	text-align: center;
	visibility: hidden;
	padding-top: 10px;
}

.pop-up{
	visibility: visible;
}

svg{
	position: relative;
	top: -50px;
	width: 1000px;
	height: 1000px;
}

rect{
	fill:#838383;
}

.mid-rect{
	fill: #373737;
}

.shadow{
	filter:url(#shadow);
}

.shadow-2{
	filter:url(#shadow-2);
}

.spin {
	transform-origin: center;
	transform-box: fill-box;
	animation: rotate-wheel 8s infinite linear;
}

@keyframes rotate-wheel{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info{
	position: relative;
	top: -940px;
	left: 100px;
	width: 450px;
	height: 1vh;
	text-align: center;
	font-size: 35px;
	line-height: 0.5%;
}

.buttons{
 position: relative;
 top: -620px;
 left: 50px;
}

i{
	color:#373737;
  font-size: 35px;

}

button{
	width: 140px;
	height: 50px;
	border-radius: 10px;
	outline: none;
	box-shadow: 2px 2px 3px 
#8d8d8d inset;
}
